<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'includes/navbar' %>
    <% unless notice.nil? && alert.nil? %>
      <div class="container">
        <% if notice.present? %>
          <div class="alert alert-light mb-2" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
